.player_field { 
      width: 570px;
      height: 570px;
      float: left;
      border: 1px solid black;
	background-color:blue;    
}
#hidden{
	background-color:white;
}
.enemy_field { 
      width: 470px;
      height: 470px;
      float: left;
      border: 1px solid black;
      margin-left: 100px;
    }
div{
      width:45px;
      height:45px;
      border: 1px solid black;
      float: left;
    }
.w{
      background-image: url(../imgs/369197.png);
    }

.s{
      background-color: gray;
    }

.z{
      background-image: url(../imgs/369197.png);
    }
.dmg{
        background-color: red;
    }
.s1{
        background-color: gray;
        background-image: url(../imgs/369220.png);   
        background-repeat: no-repeat;
        background-position: center;
    }
.s2 {
        background-image: url(../imgs/s2.PNG);   
        background-repeat: no-repeat;
        background-position: center;
	   height: 85px;
}
.s3 {
        background-image: url(../imgs/s3.PNG);   
        background-repeat: no-repeat;
        background-position: center;
	   height: 140px;
}
.s4 {
        background-image: url(../imgs/s4.png);   
        background-repeat: no-repeat;
        background-position: center;
	   height: 180px;
}
.s1e{
	       background-image: url(../imgs/369197.png);


}
.miss{
        background-color: white;
        background-image: url(../imgs/369208.png);   
        background-repeat: no-repeat;
        background-position: center;
    }
.main {
        background-image: url(../imgs/369197.png);
        background-repeat: no-repeat;
        background-position: center;

}
